.projetos {
    background-color: var(--cor-primaria);
}

.projetos .container-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;
}

.projetos .container-projetos .projeto {
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    position: relative;
}

.projetos .container-projetos .projeto:hover,
.projetos .container-projetos .projeto:hover .informacoes-projeto {
    opacity: 0.8;
    border-radius: 20px;
}

.projetos .container-projetos .projeto img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
}

.projetos .container-projetos .projeto .informacoes-projeto {
    padding: 20px;
    background-color: var(--cor-fundo-escuro);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.projetos .container-projetos .projeto .informacoes-projeto p {
    font-size: var(--fonte-normal);
    text-align: center;
    margin-top: 5px;
}

.projetos .container-projetos .projeto .informacoes-projeto span {
    font-size: var(--fonte-normal);
    background-color: #000000;
}

.projetos .container-projetos .projeto h3 {
    font-size: 2rem;
    background-color: var(--cor-fundo-escuro);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

@media(max-width: 1280px) {
    .projetos .container-projetos {
        padding: var(--mobile-padding);
    }
}

